<a href="https://colab.research.google.com/github/sarahcodebyte/BreastCancer-XGBOOST/blob/main/Breastcancer_XGBOOST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing dependencies**

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

# **Data collection and analysis**

In [4]:
 dataset = pd.read_csv('/content/data - data.csv')

In [5]:
dataset.shape

(569, 3)

In [6]:
dataset.head()

  diagnosis  radius_mean  area_mean
0         M        17.99     1001.0
1         M        20.57     1326.0
2         M        19.69     1203.0
3         M        11.42      386.1
4         M        20.29     1297.0



*   *Malignant(M): 1*
*   *Benign(B): 0*

In [7]:
dataset.replace({'diagnosis': {'M': 1, 'B': 0}}, inplace=True)

# **Splitting data into target and features**

In [8]:
X = dataset.drop(columns = ['diagnosis'], axis = 1)
Y = dataset['diagnosis']

In [9]:
X.head()

   radius_mean  area_mean
0        17.99     1001.0
1        20.57     1326.0
2        19.69     1203.0
3        11.42      386.1
4        20.29     1297.0

In [10]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: diagnosis, dtype: int64

# **Splitting data into training and test data**

In [41]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state=0)

# **Training with XGBOST**

In [42]:
model = XGBClassifier()
model.fit(X_train, Y_train)

XGBClassifier()

In [45]:
X_test_prediction = model.predict(X_test)

accuracy = accuracy_score(Y_test, X_test_prediction)
print('Accuracy score: ', accuracy*100)

Accuracy score:  92.3076923076923